/* Global/Root Items */

:root {
    --Sap-Green: #0a3410;
    --Alizarin-Crimson: #4e1500;
    --Van-Dyke-Brown: #221b15;
    --Dark-Sienna: #5f2e1f;
    --Midnight-Black: #000000;
    --Prussian-Blue: #021e44;
    --Phthalo-Blue: #0c0040;
    --Phthalo-Blue-Hover: #1d0099;
    --Phthalo-Grey: #3D394B;
    --Phthalo-Green: #102e3c;
    --Cadmium-Yellow: #ffec00;
    --Yellow-Ochre: #c79b00;
    --Indian-Yellow: #ffb800;
    --Bright-Red: #db0000;
    --Titanium-White: #ffffff;
    --Button-Letter-Sp-Default: 2px;
    --Hover-Letter-Sp-Default: 3px;
}


/* General Styles */


body {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 3px;
}


h1 {
    padding: .8em 0;
    background-color: var(--Prussian-Blue);
    color: var(--Titanium-White);
    text-align: center;
}


main {
    /* Layout Border */
    /* border: thick solid var(--Yellow-Ochre); */
    margin-top: 1em;
    padding: 0.2em 1em;
}


section {
    /* Layout Border */
    /* border: thin solid var(--Alizarin-Crimson); */
    margin-left: 1.5em;
    margin-right: auto;
}


#main-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    height: 80vh;
}


/* Search Items */


#search-card {
    flex-basis: 350px;
    width: 95%;
}

#search-card h2 {
    padding-bottom: 0.25em;
}

#search-card hr {
    width: 100%;
    align-items: center;
}


#search-input {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding-top: .6em;
    padding-bottom: .6em;
    border-radius: 6px;
    font-size: larger;
    font-weight: 500;
}


button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    margin-bottom: 1em;
    background-color: var(--Phthalo-Blue);
    color: var(--Titanium-White);
    font-size: large;
    letter-spacing: var(--Button-Letter-Sp-Default);
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    /* font-size: larger; */
    font-weight: bold;
    letter-spacing: var(--Hover-Letter-Sp-Default);
    background-color: var(--Phthalo-Blue-Hover);
    cursor: pointer;
    transition-delay: 0.2s;
}


/* Forecast Items */

#current-conditions-card {
    margin-left: 2em;
    padding-left: 1em;
    letter-spacing: 1px;
}

#current-conditions-card > h2 {
    margin-top: -1em;
}

#current-conditions-card span {
    font-weight: 600;
}

#current-date {
    margin-left: 1em;
}

#current-conditions-city,
#current-conditions-state {
    color: var(--Yellow-Ochre);
}

.hidden {
    /* Hidden on Load */
    display: none;
}

#current-conditions-current {
    height: 200px;
    width: 100px;
    padding: 10px;
    flex-basis: 100%;
    align-items: center;
    /* Layout Border */
    /* border: 2px dashed var(--Phthalo-Blue); */
}

.hist-button {
    display: block;
    background-color: var(--Phthalo-Grey);
}

.hist-button:hover {
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    /* letter-spacing: var(--Button-Letter-Sp-Default); */
    background-color: var(--Phthalo-Grey);
    cursor: pointer;

}

#five-day-card {
    /* margin-top: 2em; */
    margin-left: 3em;
    padding: 10px;
    /* Layout Border */
    /* border: 2px dashed var(--Sap-Green); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#five-day-title {
    text-align: center;
    flex-basis: 100%;
    order: 1;
    margin-bottom: 1.5em;
}

/* .layout-border {
    border: 2px dashed var(--Sap-Green);
} */

.flex-item {
    order: 2;
    flex-basis: 175px;
    width: 90%;
    background-color: var(--Van-Dyke-Brown);
    color: var(--Titanium-White);
    border-radius: 6px;
    margin-bottom: 1em;
    margin-left: 2em;
    padding: 5px 10px;
}